header{
    background-color: #4a4a4a;
    background-image: linear-gradient(30deg,#4a4a4a 50%, #000000aa);
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    width: 100%;
    max-width: 1000px;
    height: 90px;
    z-index: 2;
    
}
#menu{
 margin: 0px;
}
#menu ul{
    display: flex;
    color: white;
    gap: 1em;
    padding: 0 10px 1em 10px;
    width: 100%;
}
#menu li{
    margin: auto;
    border: solid 3px black;
    border-radius: 8px;
    background-color: #6500b3;
    transition: ease 1s;
    box-shadow: 0 1px 4px #00000044;
    font-size: 20px;
}
#menu li:hover{
    transition:ease 0.9s;
    background-color: #8000e8;
    font-size: x-large;
}



@media only screen and (width >= 721px){
    #menu li{
        text-align: center;
        padding: 10px;
    }
    #menu a{
        width: 25%;
    }
    #about {
        margin-top: 100px;
    }
}


@media only screen and (width <= 720px){
    #menu ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    #menu li {
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 5px;
    }
    #menu a{
        width: 40%;
    }
    header{
        height: 145px;
    }
    #about {
        margin-top: 150px;
    }
}


@media only screen and (width <= 480px){
    #menu ul{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #menu li {
        padding: 5px;
    }
    #menu a{
        width: 80%;
    }
    header{
        height: 245px;
    }
    #about {
        margin-top: 250px;
    }
}


