html{

    background-color: grey;
}
* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 0px;
    border: none;
    background-color: #36393e;
}
h1,h2,h3,h4,a,p,li{
    color: white;
}
h1,li{
    font-size:x-large;
}
h2{
    text-align: center;
}
#about {
    background-color: none;
    display:inline-block;
    width: 100%;
    margin: 100px 0px 0px 0px;
}
#about div,p{
    margin-top: 0px;
    padding: 0;
}
#main{
    margin-top: 0px;
}
#about p{
    margin: auto;
}
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
@media only screen and (width <= 1000px){
    #about p{
        animation:normal;
        border-right: none;
        margin: 15px 1em;
        text-align: justify;
    }
}
@media only screen and (width > 1000px){
    #about p:first-child{
    border-right: 2px solid #6500b3;
    animation: typing 6s steps(100), blink .5s step-end infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    }
}
#about p:first-child{
    font-size: large;
    align-items: center;
    margin: 0px auto;
    width: 96.5%;
}
.desc1{
    text-align: center;
    margin: 1em 10px;
}
@keyframes blink{
    50% { border-color: transparent }
}
@keyframes typing{
    from { width:0}
}
.name h1{
    text-align: center;
    margin: 0 0 2px 0;
}
#about h2{
    text-align: center;
    margin: 10px;
}
#about h2:first-of-type{
    animation: floating 3s ease-in-out infinite;
}


/* Technologies CSS*/
#tecs div img{
    width: 90px;
    height: 90px;
    vertical-align: -12px;
    margin: 0 2px
}
#tecs ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1px auto;
    justify-content: center;
}
#tecs div{
    border: 2px solid #6500b3;
    border-radius: 8px;
    background-color: #181818;
    padding: 10px;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.63);
}
#tecs:hover .hidden{
    opacity: 1;
}
#tecs div div{
    border: none;
    background-color: none;
    box-shadow: none;
    font-weight: bold;
}
.hidden{
    opacity: 0;
}

@media only screen and (width <= 1000px){
    #tecs ul li:nth-child(odd){
        width: 30%;
    }
    #tecs ul li:nth-child(even){
        width: 30%;
    }
}
@media only screen and (width <= 720px){
    #tecs ul li:nth-child(odd){
        width: 40%;
    }
    #tecs ul li:nth-child(even){
        width: 40%;
    }
}

#projects {
    display: flex;
    border-radius: 8px;
    background-color: none;
    padding: 4px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:2em;
}
.card{
    display: flex;
    width: 40%;
    height: 200px;
    border: 2px solid #9000ff;
    border-radius: 10px;
    background-color: #6500b3;
    justify-content: top;
    flex-direction: column;
    align-items: top;
    flex-wrap: wrap;
}
.card div:first-child p{
 font-size: xx-large;
 text-decoration:indigo overline;
 background-image: radial-gradient(circle, #6500b3, #000000);
 border-radius: 10px;
}
.card div:nth-child(2) p{
}
.card div:last-child p{
 font-weight: bold;
}
.mdiv{
    margin: auto;
}





.tooltip-text {
visibility: hidden;
position: absolute;
z-index: 1;
width: 1px;
color: white;
background-color: none;
padding: 5px;
}
.hover-text:hover .tooltip-text {
visibility: visible;
}

.top {
top: -40px;
left: 0px;
text-align: center;
}
.bottom {
top: 25px;
left: -50%;
}
.left {
top: -8px;
right: 120%;
}

.right {
top: -8px;
left: 120%;
}

.hover-text {
position: relative;
display: inline-block;
margin: 40px;
text-align: center;
}

.hover-text {
    position: relative;
    display: inline-block;
    margin: 40px;
    text-align: center;
    }